{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon.ico">
    <title>Stream Dice</title>
</head>

<body>
    <div class="container">
        <h1>Roll the dice!</h1>
        <div class="results">
            <span class="throwman">{{.}}</span><span> threw:</span>
            <span class="result"></span>
            <ul class="stats">
                <li class="stat">Thrown: <span class="thrown"></span></li>
                <li class="stat sum">Sum: <span class="sum"></span></li>
            </ul>
        </div>
        <ul class="dice_pool">
            <li class="dice">d4<span id="d4" class="dice_count"></span></li>
            <li class="dice">d6<span id="d6" class="dice_count"></span></li>
            <li class="dice">d8<span id="d8" class="dice_count"></span></li>
            <li class="dice">d10<span id="d10" class="dice_count"></span></li>
            <li class="dice">d100<span id="d100" class="dice_count"></span></li>
            <li class="dice">d12<span id="d12" class="dice_count"></span></li>
            <li class="dice">d20<span id="d20" class="dice_count"></span></li>
        </ul>
        <button class="roll_btn">ROLL!</button>
        <button class="clear_btn">clear</button>
        <div class="logs">
        </div>
    </div>		
		<script src="../static/jquery-3.6.0.min.js"></script>
		<script src="../static/script.js"></script>
</body>

</html>
{{ end }}