<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.ico">
    <title>Stream Dice</title>
</head>

<body>
    <div class="container">
        <h1>Roll the dice!</h1>
        <div class="results">
            <span class="throwman">Sasha throw results:</span>
            <span class="result">20</span>
            <ul class="stats">
                <li class="stat">Sum:</li>
                <li class="stat">Min:</li>
                <li class="stat">Max:</li>
                <li class="stat">Average:</li>
            </ul>
        </div>
        <ul class="dice_pool">
            <li class="dice d4">d4<span class="dice_count">3</span></li>
            <li class="dice d6">d6<span class="dice_count"></span></li>
            <li class="dice d8">d8<span class="dice_count"></span></li>
            <li class="dice d10">d10<span class="dice_count"></span></li>
            <li class="dice d100">d100<span class="dice_count"></span></li>
            <li class="dice d12">d12<span class="dice_count"></span></li>
            <li class="dice d20">d20<span class="dice_count"></span></li>
        </ul>
        <button class="roll_btn">ROLL!</button>
        <button class="clear_btn">clear</button>
        <div class="logs">
            >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet accusantium quo perferendis magnam sapiente exercitationem possimus nostrum praesentium similique impedit dolores architecto, quaerat quam sunt corrupti tempore reiciendis itaque placeat.
        </div>
    </div>
</body>

</html>